<div class="mt-4">
    <form method="post">
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ Khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp">
        </div>
        
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>